<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Abstract</title>
    <meta name="description" content="">
    <meta name="author" content="">

   <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="static/css1/styles.css">
    <link rel="stylesheet" href="static/css1/vendor.css">

    <!-- script
    ================================================== -->
    <script src="static/js1/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="row s-header__content">

            {% comment %} <div class="s-header__logo">
                <a class="logo" href="index.html">
                    <img src="static/images/logo.svg" alt="Homepage">
                </a>
            </div> {% endcomment %}

            <nav class="main-nav">
                <!-- ***** Logo Start ***** -->
                <a href="index.html" class="logo">
                  <h4>Temple<span>Kart</span></h4>
                </a>
                <!-- ***** Logo End ***** -->
                <!-- ***** Menu Start ***** -->
                {% comment %} <ul class="nav">
                  <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                  <li class="scroll-to-section"><a href="#about">About Us</a></li>
                  <li class="scroll-to-section"><a href="#services">Services</a></li>
                  <li class="scroll-to-section"><a href="#portfolio">Gallery</a></li>
                  <li class="scroll-to-section"><a href="#blog">Articles</a></li> 
                  <li class="scroll-to-section"><a href="#contact">Contact Us</a></li> 
                  <li class="scroll-to-section"><div class="main-red-button"><a href="#contact">Download Now!</a></div></li> 
                </ul>         {% endcomment %}
                {% comment %} <a class='menu-trigger'>
                    <span>Menu</span>
                </a> {% endcomment %}
                <!-- ***** Menu End ***** -->
              </nav>

                {% comment %} <a href="#0" title="Close Menu" class="s-header__overlay-close close-mobile-menu">Close</a> {% endcomment %}

            </nav> <!-- end header__nav-wrap -->
                   
            <a class="s-header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>
            
            <!-- end s-header__content -->

    </header> <!-- end header -->


    <!-- masonry
    ================================================== -->
    <section class="s-bricks">

        <div class="masonry">
            <div class="bricks-wrapper h-group">
 
                <div class="grid-sizer"></div>

                <div class="brick entry featured-grid animate-this">
                    <div class="entry__content">

                        <div class="featured-post-slider">
                            
                            <div class="featured-post-slide">
                                <div class="f-slide">
                                    
                                    <div class="f-slide__background" style="background-image:url('static/images/thumbs/featured/featured-1.jpg');"></div>
                                    <div class="f-slide__overlay"></div>

                                    <div class="f-slide__content">
                                        <ul class="f-slide__meta">
                                            <li>September 06, 2020</li> 
                                            <li><a href="#" >Naruto Uzumaki</a></li>
                                        </ul>	

                                        <h1 class="f-slide__title"><a href="" title="">A Practical Guide to a Minimalist Lifestyle.</a></h1> 
                                    </div>

                                </div> <!-- f-slide -->
                            </div> <!-- featured-post-slide -->

                            <div class="featured-post-slide">
                                <div class="f-slide">
                                    
                                    <div class="f-slide__background" style="background-image:url('static/images/thumbs/featured/featured-2.jpg');"></div>
                                    <div class="f-slide__overlay"></div>

                                    <div class="f-slide__content">
                                        <ul class="f-slide__meta">
                                            <li>September 06, 2020</li> 
                                            <li><a href="#" >Sakura Haruno</a></li>
                                        </ul>

                                        <h1 class="f-slide__title"><a href="" title="">Enhancing Your Designs with Negative Space</a></h1> 
                                    </div>

                                </div> <!-- f-slide -->
                            </div> <!-- featured-post-slide -->

                            <div class="featured-post-slide">
                                <div class="f-slide">
                                    
                                    <div class="f-slide__background" style="background-image:url('static/images/thumbs/featured/featured-3.jpg');"></div>
                                    <div class="f-slide__overlay"></div>

                                    <div class="f-slide__content">
                                        <ul class="f-slide__meta">
                                            <li>September 05, 2020</li> 
                                            <li><a href="#" >Shikamaru Nara</a></li>
                                        </ul>

                                        <h1 class="f-slide__title"><a href="" title="">Music Album Cover Designs for Inspiration</a></h1> 
                                    </div>

                                </div> <!-- f-slide -->
                            </div> <!-- featured-post-slide -->

                        </div> <!-- end feature post slider -->
                        
                        <div class="featured-post-nav">
                            <button class="featured-post-nav__prev">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12.707 17.293L8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"></path></svg>
                            </button>
                            <button class="featured-post-nav__next">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M11.293 17.293l1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path></svg>
                            </button>
                        </div> <!-- featured-post-nav -->

                    </div> <!-- end entry content -->
                </div>
                <input type='hidden' value={{id.1}}> <!-- end entry, featured grid -->
 {% if title.0 %}
                <article class="brick entry format-standard animate-this">
    
                    <div class="entry__thumb">
                        <a href="blog/{{id.0}}" class="thumb-link">
                            <img src={{image.0}} 
                                 srcset="{{image.0}} 1x, {{image.0}} 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Design</a> 
                                    <a href="#">Photography</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.0}}.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{subject.0}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
    
                </article>
                {% else %} 
                
                <article class="brick entry format-standard animate-this">
    
                    <div class="entry__thumb">
                        <a href="" class="thumb-link">
                            <img src={{image.0}} 
                                 srcset="{{image.0}} 1x, {{image.0}} 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Design</a> 
                                    <a href="#">Photography</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.0}}.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{subject.0}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
    
                </article>
                {% endif%}<!-- end entry -->

                {% if title.1 %}
                <article class="brick entry format-standard animate-this">
 
                    <div class="entry__thumb">
                        <a href="blog/{{id.1}}" class="thumb-link">
                            <img src={{image.1}} 
                                 srcset="{{image.1}} 1x, {{image.1}}  2x" alt="">
                        </a>
                    </div>  <!-- end entry__thumb -->
 
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Health</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.1}}</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                            {{subject.1}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
                
                </article>
                {% else %}  <!-- end article -->
                <article class="brick entry format-standard animate-this">
    
                    <div class="entry__thumb">
                        <a href="" class="thumb-link">
                            <img src={{image.0}} 
                                 srcset="{{image.0}} 1x, {{image.0}} 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Design</a> 
                                    <a href="#">Photography</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.0}}.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{subject.0}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
    
                </article>{% endif%}
                {% if title.2 %}
                <article class="brick entry format-standard animate-this">
    
                    <div class="entry__thumb">
                        <a href="blog/{{id.2}}" class="thumb-link">
                            <img src={{image.2}} 
                                 srcset="{{image.2}} 1x, {{image.2}} 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Lifestyle</a>
                                    <a href="#">Health</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.2}}</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                            {{subject.2}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
                    
                </article> <!-- end article -->
                {% else %} 
                
                <article class="brick entry format-standard animate-this">
    
                    <div class="entry__thumb">
                        <a href="" class="thumb-link">
                            <img src={{image.0}} 
                                 srcset="{{image.0}} 1x, {{image.0}} 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Design</a> 
                                    <a href="#">Photography</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.0}}.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{subject.0}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
    
                </article> 
                {% endif%}
 {% if title.3 %}
 <article class="brick entry format-standard animate-this">
    
    <div class="entry__thumb">
        <a href="blog/{{id.3}}" class="thumb-link">
            <img src={{image.3}} 
                 srcset="{{image.3}} 1x, {{image.3}} 2x" alt="">
        </a>
    </div> <!-- end entry__thumb -->

    <div class="entry__text">
        <div class="entry__header">

            {% comment %} <div class="entry__meta">
                <span class="entry__cat-links">
                    <a href="#">Lifestyle</a>
                    <a href="#">Health</a>
                </span>
            </div> {% endcomment %}

            <h1 class="entry__title"><a href="">{{title.3}}</a></h1>
            
        </div>
        <div class="entry__excerpt">
            <p>
            {{subject.3}}
            </p>
        </div>
    </div> <!-- end entry__text -->
    
</article>
                {% else %} 
                
                <article class="brick entry format-standard animate-this">
    
                    <div class="entry__thumb">
                        <a href="" class="thumb-link">
                            <img src={{image.0}} 
                                 srcset="{{image.0}} 1x, {{image.0}} 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Design</a> 
                                    <a href="#">Photography</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.0}}.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{subject.0}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
    
                </article>
                {% endif%}<!-- end article -->
                {% if title.4 %}
                <article class="brick entry format-standard animate-this">
 
                    <div class="entry__thumb">
                        <a href="blog/{{id.4}}" class="thumb-link">
                            <img src={{image.4}} 
                                 srcset="{{image.4}} 1x, {{image.4}} 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
 
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Lifestyle</a>
                                    <a href="#">Work</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.4}}</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                            {{subject.4}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
                
                </article>
                {% else %} 
                
                <article class="brick entry format-standard animate-this">
    
                    <div class="entry__thumb">
                        <a href="" class="thumb-link">
                            <img src={{image.0}} 
                                 srcset="{{image.0}} 1x, {{image.0}} 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Design</a> 
                                    <a href="#">Photography</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.0}}.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{subject.0}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
    
                </article>
                {% endif%} <!-- end article -->
 {% if title.5%}
                <article class="brick entry format-standard animate-this" >
        
                    <div class="entry__thumb">
                        <a href="blog/{{id.5}}" class="thumb-link">
                            <img src="{{image.5 }}" 
                                 srcset="{{image.5 }} 1x, {{image.5 }} 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
        
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Family</a>
                                    <a href="#">Relationship</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.5}}</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                            {{subject.5}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
                        
                </article>
                {% else %} 
                
                <article class="brick entry format-standard animate-this">
    
                    <div class="entry__thumb">
                        <a href="" class="thumb-link">
                            <img src={{image.0}} 
                                 srcset="{{image.0}} 1x, {{image.0}}" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Design</a> 
                                    <a href="#">Photography</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.0}}.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{subject.0}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
    
                </article>
                {% endif%} <!-- end article -->
                {% if title.6 %}
                <article class="brick entry format-standard animate-this">
    
                    <div class="entry__thumb">
                        <a href="blog/{{id.6}}" class="thumb-link">
                            <img src={{image.6}} 
                                 srcset="{{image.6}} 1x, {{image.6}} 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Design</a> 
                                    <a href="#">Photography</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.6}}.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{subject.6}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
    
                </article>
                {% else %} 
                
                <article class="brick entry format-standard animate-this">
    
                    <div class="entry__thumb">
                        <a href="" class="thumb-link">
                            <img src={{image.0}} 
                                 srcset="{{image.0}} 1x, {{image.0}} 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Design</a> 
                                    <a href="#">Photography</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.0}}.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{subject.0}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
    
                </article>
                {% endif%}<!-- end article -->
 
                {% if title.7 %}
                <article class="brick entry format-standard animate-this">
    
                    <div class="entry__thumb">
                        <a href="blog/{{id.7}}" class="thumb-link">
                            <img src={{image.7}} 
                                 srcset="{{image.7}} 1x, {{image.7}} 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Design</a> 
                                    <a href="#">Photography</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.7}}.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{subject.7}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
    
                </article>
                {% else %} 
                
                <article class="brick entry format-standard animate-this">
    
                    <div class="entry__thumb">
                        <a href="" class="thumb-link">
                            <img src={{image.0}} 
                                 srcset="{{image.0}} 1x, {{image.0}} 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Design</a> 
                                    <a href="#">Photography</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.0}}.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{subject.0}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
    
                </article>
                {% endif%} <!-- end article -->
                {% if title.8 %}
                <article class="brick entry format-standard animate-this">
    
                    <div class="entry__thumb">
                        <a href="blog/{{id.8}}" class="thumb-link">
                            <img src={{image.8}} 
                                 srcset="{{image.8}} 1x, {{image.8}} 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Design</a> 
                                    <a href="#">Photography</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.8}}.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{subject.8}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
    
                </article>
                {% else %} 
                
                <article class="brick entry format-standard animate-this">
    
                    <div class="entry__thumb">
                        <a href="" class="thumb-link">
                            <img src={{image.0}} 
                                 srcset="{{image.0}} 1x, {{image.0}} 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Design</a> 
                                    <a href="#">Photography</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.0}}.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{subject.0}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
    
                </article>
                {% endif%} <!-- end article -->
    
                {% if title.9 %}
                <article class="brick entry format-standard animate-this">
    
                    <div class="entry__thumb">
                        <a href="blog/{{id.9}}" class="thumb-link">
                            <img src={{image.9}} 
                                 srcset="{{image.9}} 1x, {{image.9}} 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Design</a> 
                                    <a href="#">Photography</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.9}}.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{subject.9}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
    
                </article>
                {% else %} 
                
                <article class="brick entry format-standard animate-this">
    
                    <div class="entry__thumb">
                        <a href="" class="thumb-link">
                            <img src={{image.0}} 
                                 srcset="{{image.0}} 1x, {{image.0}} 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Design</a> 
                                    <a href="#">Photography</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.0}}.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{subject.0}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
    
                </article>
                {% endif%} <!-- end article -->
 
                {% if title.10 %}
                <article class="brick entry format-standard animate-this">
    
                    <div class="entry__thumb">
                        <a href="blog/{{id.10}}" class="thumb-link">
                            <img src={{image.10}} 
                                 srcset="{{image.10}} 1x, {{image.10}} 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Design</a> 
                                    <a href="#">Photography</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.10}}.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{subject.10}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
    
                </article>
                {% else %} 
                
                <article class="brick entry format-standard animate-this">
    
                    <div class="entry__thumb">
                        <a href="" class="thumb-link">
                            <img src={{image.0}} 
                                 srcset="{{image.0}} 1x, {{image.0}} 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Design</a> 
                                    <a href="#">Photography</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.0}}.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{subject.0}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
    
                </article>
                {% endif%} <!-- end article -->

                {% if title.11 %}
                <article class="brick entry format-standard animate-this">
    
                    <div class="entry__thumb">
                        <a href="blog/{{id.11}}" class="thumb-link">
                            <img src={{image.11}} 
                                 srcset="{{image.11}} 1x, {{image.11}} 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Design</a> 
                                    <a href="#">Photography</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.11}}.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{subject.11}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
    
                </article>
                {% else %} 
                
                <article class="brick entry format-standard animate-this">
    
                    <div class="entry__thumb">
                        <a href="" class="thumb-link">
                            <img src={{image.0}} 
                                 srcset="{{image.0}} 1x, {{image.0}} 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Design</a> 
                                    <a href="#">Photography</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.0}}.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{subject.0}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
    
                </article>
                {% endif%} <!-- end article -->

                {% if title.12 %}
                <article class="brick entry format-standard animate-this">
    
                    <div class="entry__thumb">
                        <a href="blog/{{id.12}}" class="thumb-link">
                            <img src={{image.12}} 
                                 srcset="{{image.12}} 1x, {{image.12}} 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Design</a> 
                                    <a href="#">Photography</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.12}}.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{subject.12}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
    
                </article>
                {% else %} 
                
                <article class="brick entry format-standard animate-this">
    
                    <div class="entry__thumb">
                        <a href="" class="thumb-link">
                            <img src={{image.0}} 
                                 srcset="{{image.0}} 1x, {{image.0}} 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Design</a> 
                                    <a href="#">Photography</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.0}}.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{subject.0}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
    
                </article>
                {% endif%} <!-- end article -->

                {% if title.13 %}
                <article class="brick entry format-standard animate-this">
    
                    <div class="entry__thumb">
                        <a href="blog/{{id.13}}" class="thumb-link">
                            <img src={{image.13}} 
                                 srcset="{{image.13}} 1x, {{image.13}} 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Design</a> 
                                    <a href="#">Photography</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.13}}.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{subject.13}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
    
                </article>
                {% else %} 
                
                <article class="brick entry format-standard animate-this">
    
                    <div class="entry__thumb">
                        <a href="" class="thumb-link">
                            <img src={{image.0}} 
                                 srcset="{{image.0}} 1x, {{image.0}} 2x" alt="">
                        </a>
                    </div> <!-- end entry__thumb -->
    
                    <div class="entry__text">
                        <div class="entry__header">
    
                            {% comment %} <div class="entry__meta">
                                <span class="entry__cat-links">
                                    <a href="#">Design</a> 
                                    <a href="#">Photography</a>
                                </span>
                            </div> {% endcomment %}
    
                            <h1 class="entry__title"><a href="">{{title.0}}.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{subject.0}}
                            </p>
                        </div>
                    </div> <!-- end entry__text -->
    
                </article>
                {% endif%} <!-- end article -->
 
            </div> <!-- end brick-wrapper --> 
 
        </div> <!-- end masonry -->

        {% comment %} <div class="row">
            <div class="column large-12">
                <nav class="pgn">
                    <ul>
                        <li>
                            <a class="pgn__prev" href="#0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12.707 17.293L8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"></path></svg>
                            </a>
                        </li>
                        <li><a class="pgn__num" href="#0">1</a></li>
                        <li><span class="pgn__num current">2</span></li>
                        <li><a class="pgn__num" href="#0">3</a></li>
                        <li><a class="pgn__num" href="#0">4</a></li>
                        <li><a class="pgn__num" href="#0">5</a></li>
                        <li><span class="pgn__num dots">…</span></li>
                        <li><a class="pgn__num" href="#0">8</a></li>
                        <li>
                            <a class="pgn__next" href="#0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M11.293 17.293l1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path></svg>
                            </a>
                        </li>
                    </ul>
                </nav> <!-- end pgn -->
            </div> <!-- end column -->
        </div> <!-- end row --> {% endcomment %}

    </section> <!-- end s-bricks -->


    <!-- footer
    ================================================== -->
    <footer class="s-footer">

        <div class="s-footer__main">

            <div class="row">

                <div class="column large-4 medium-6 tab-12 s-footer__info">

                    <h5>About Our Site</h5>

                    <p>
                    Lorem ipsum Ut velit dolor Ut labore id fugiat in ut fugiat nostrud qui in dolore commodo eu magna Duis cillum dolor officia esse mollit proident Excepteur exercitation nulla. Lorem ipsum In reprehenderit commodo aliqua irure labore.
                    </p>

                </div> <!-- end s-footer__info -->

                <div class="column large-2 medium-3 tab-6 s-footer__site-links">

                    <h5>Site Links</h5>

                    <ul>
                        <li><a href="#0">About Us</a></li>
                        <li><a href="#0">Blog</a></li>
                        <li><a href="#0">FAQ</a></li>
                        <li><a href="#0">Terms</a></li>
                        <li><a href="#0">Privacy Policy</a></li>
                    </ul>

                </div> <!-- end s-footer__site-links -->  

                <div class="column large-2 medium-3 tab-6 s-footer__social-links">

                    <h5>Social</h5>

                    <ul>
                        <li><a href="#0">Twitter</a></li>
                        <li><a href="#0">Facebook</a></li>
                        <li><a href="#0">Dribbble</a></li>
                        <li><a href="#0">Pinterest</a></li>
                        <li><a href="#0">Instagram</a></li>
                    </ul>

                </div> <!-- end s-footer__social links --> 

                <div class="column large-4 medium-12 s-footer__subscribe">

                    <h5>Subscribe</h5>

                    <p>Keep yourself updated. Subscribe to our newsletter.</p>

                    <div class="subscribe-form">
                
                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="dEmail" class="email" id="mc-email" placeholder="Type &amp; press enter" required=""> 
                
                            <input type="submit" name="subscribe" >
                
                            <label for="mc-email" class="subscribe-message"></label>
                
                        </form>

                    </div>

                </div> <!-- end s-footer__subscribe -->

            </div> <!-- end row -->

        </div> <!-- end s-footer__main -->

        <div class="s-footer__bottom">
            <div class="row">
                <div class="column">
                    <div class="ss-copyright">
                        <span>© Copyright Abstract 2020</span> 
                        <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>		         	
                    </div> <!-- end ss-copyright -->
                </div>
            </div> 

            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 4h12v2H6zm5 10v6h2v-6h5l-6-6-6 6z"/></svg>
                </a>
            </div> <!-- end ss-go-top -->
        </div> <!-- end s-footer__bottom -->

   </footer> <!-- end s-footer -->


   <!-- Java Script
   ================================================== -->
   <script src="static/js1/jquery-3.2.1.min.js"></script>
   <script src="static/js1/plugins.js"></script>
   <script src="static/js1/main.js"></script>

</body>

</html>